# Бинарные файлы и папки, создаваемые при сборке
/bin/
/pkg/
/dist/

# Каталог с зависимостями (в случае использования старых версий Go)
/vendor/

# Файлы логов
*.log

# Директории и файлы конфигурации среды разработки
.idea/        # Для JetBrains IDE, таких как Goland
.vscode/      # Для Visual Studio Code
*.swp         # Временные файлы Vim
*.swo

# Системные файлы
.DS_Store     # Специфичные для macOS
Thumbs.db     # Специфичные для Windows

# Файлы с чувствительными данными
*.env

# Файлы состояния
*.state

# Другие временные файлы и папки
tmp/
temp/
